<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="sole-be"/>
    <springProperty name="LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>
    <springProperty name="APP_LOG_LEVEL" source="logging.level.www" defaultValue="INFO"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%X{requestId:-system}]){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-36.36logger{36}){cyan} %clr(:){faint} %m%n%wEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Application -->
    <logger name="www" level="${APP_LOG_LEVEL}"/>

    <!-- HTTP request summary (one line per request) -->
    <logger name="www.http" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Reduce framework noise -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="WARN"/>
    <logger name="org.springframework.data.mongodb" level="WARN"/>
    <logger name="org.springframework.data.redis" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="io.lettuce" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.springdoc" level="WARN"/>

    <springProfile name="dev,local,default">
        <logger name="www" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <logger name="www" level="INFO"/>
        <logger name="www.http" level="INFO"/>
    </springProfile>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
